.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
}

.taskPanel {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  padding: var(--space-7);
}

@media (max-width: 768px) {
  .taskPanel {
    padding: var(--space-4);
  }
}
