.shell {
  flex: 1;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}

.formColumn {
  height: 100%;
  padding: var(--space-6);
}

.illustrationColumn {
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .shell {
    grid-template-columns: 1fr;
  }

  .illustrationColumn {
    display: none;
  }

  .formColumn {
    padding: var(--space-5);
  }
}
